body {
	background-color: #eee;
    margin: 0;
    z-index: 0;
}

header .nav a {
    color: #372a39;
    font-size: 9pt;
    font-weight: bold;
    padding: 11pt 10pt;
    text-transform: uppercase;
    position:relative;
    
    -webkit-transition: all 0.1s;
    -moz-transition: background 0.1s;
    -ms-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

header .nav a:hover {
    background-color: #eee;
    text-decoration: none;
}

header .nav li {
    display: inline;
}

header .nav_container {
    background-color: #ddd;
    height: 32pt;
	width: 100%;
    position: fixed;
    top: 200;
    padding: 0 64pt;
    margin: 0;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header {
    margin 0;
    width: 100%;
    height: 182pt;
    overflow: hidden;
    position: fixed;
    left: 0;
    z-index: 998;
	padding:0;
    background-color: #372a39;

    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

header.smaller .nav_container {
    top: 72pt;
}

header.smaller {
    height: 104pt;
}

header.smaller .logo {
    width: 42pt;
    height: 42pt;
    background-image:url('res/img/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 6pt;
    transform:translateX(-50%);
}

header .logo {
	width: 100pt;
	height: 70pt;
	background-image:url('res/img/logo.svg');
    background-repeat: no-repeat;
	position:absolute;
	left:50%;
	top: 25pt;
	transform:translateX(-50%);
     -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header .logo a:hover {
    background: url('res/img/spritesheet.svg');
}

header h2 {
	font-family: "Courier" !important;
	font-size: 12pt !important;
	position: absolute;
	left: 50%;
	top: 100pt;
	transform: translateX(-50%);
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header.smaller h2 {
    font-family: "Courier" !important;
	font-size: 10pt !important;
	top: 36pt;
}

.highlighted {
    background-color: #eee !important;
}

.content_container {
    position: relative;
    top: 182pt;
    width: 75%;
    margin: auto;
    padding: 10pt 10pt;
}

.snippet {
    width: 90%;
    margin: auto;
}

h1 {
	font-size: 18pt;
	color: #372a39;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

h3 {
    font-size: 12pt;
    color: #aaa;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-align: center;
}

.p_container {
    padding: 6pt 10pt;
}

.notification {
    padding: 4pt 10pt;
    background-color: #e59400;
    border-radius: 4pt;
    color: #fff;
    border: 1pt solid;
    border-color: rgba(0,0,0,0.2);
    text-align: center;
    margin: auto;
}

.notification a {
    text-decoration: underline;
    color: #fff;
}

.notification a:hover {
    color: #eee;
}

.title {
	color: #333 !important;
	font-size: 20pt !important;
    font-weight: 400;
}

.syntax {
	color: #ddd;
}

.syntax_main {
	color: #93C6F7;
}

.syntax_equals {
	color: #ff4d4d;
}

.syntax_string {
	color: #ccff66;
}
