body {
	background-color: #eee;
}

.nav a {
  color: #ddd;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.header {
	padding:0;
	background-color: #222;
	height: 220pt;
}

h2 {
	font-family: "Courier" !important;
	font-size: 12pt !important;
	position: absolute;
	left: 50%;
	top: 154pt;
	transform: translateX(-50%);
}

.logo {
	width: 94pt;
	height: 94pt;
	background-image:url('res/img/logo.svg');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	left:50%;
	top: 60pt;
	transform:translateX(-50%);
}

h1 {
	font-size: 32pt;
	color: #ddd;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:200;
}

.container {
	width: 60%;
	margin: auto;
    padding: 12pt 20pt;
}

.title_container {
    
}

.title {
	color: #333 !important;
	font-size: 20pt !important;
    font-weight: 400;
}

.syntax {
	color: #ddd;
}

.syntax_main {
	color: #93C6F7;
}

.syntax_equals {
	color: #ff4d4d;
}

.syntax_string {
	color: #ccff66;
}
